{% extends 'base_with_navbar.html' %}
{% set active_page = "interface.settings" %}

{% block head %}
    <link href="/static/stylesheets/settings.css" rel="stylesheet">
{% endblock %}

{% from 'bootstrap5/form.html' import render_field %}

{% block content %}
     <div class="settings-wrapper d-flex align-items-center justify-content-center">
        <form class="form-settings" method="POST">
            {{ form.csrf_token() }}
            <div class="row">
                <div class="col-12 mb-3">
                    {{ render_field(form.truck_count) }}
                </div>
                <div class="col-12 mb-3">
                    {{ render_field(form.delay_amount) }}
                </div>
            </div>
            <div class="d-grid mt-3">
                {{ render_field(form.submit, class="btn btn-primary btn-block") }}
            </div>
        </form>
    </div>
{% endblock %}
